@import '../node_modules/codemirror/lib/codemirror.css';
@import '../node_modules/codemirror/theme/material.css';

.codebox {
    height: 300px;
    background-color: gray;
    color: white;
}

.fix {
    color: black
}

.inlinecode {
    font-family: "Lucida Console, monospace"
}

.groupmanage {
    padding: 20px;
}

.graph-filler {
    height: 300px;
}

.contentbox {
    overflow: auto;
    border: 1px;
}

.runbutton {
    width: 100px;
}

.savechangesbutton {
    width: 145px;
    margin-left: 5px;
}

.choices {
    margin-left: 15px;
}

.navlinks {
    margin-left: 30px;
}

.navtab {
    color: black;
}

.titletext {
    margin-top: 10px;
}

.selected {
    background-color: lightskyblue
}

.center{
    height: 100vh;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.light-background-cblue{
    background-color: rgba(75, 156, 211, 0.7);
    border-radius: 25px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.paraminputs {
    margin-bottom: 15px;
}

.divider {
    margin-right: 25px;
}

.mode-toggle {
    float: right;
}

.bottommargin {
    margin-bottom: 25px;
}

.bigbottommargin {
    margin-bottom: 40px;
}

.rightmargin {
    margin-right: 10px;
}

.studentlist {
    height: 200px;
    overflow: scroll;
    border: 1px;
    border-style: groove;
    padding: 3px;
}

.pointer {
    cursor:pointer;
}

.textinput {
    width: 300px;
}

.maincode {
    height: 200px;
    overflow: scroll;
    margin-right: 7px;
    margin-top: 7px;
    border: 1px;
    border-style: solid;
}

.benchcode {
    height: 150px;
    overflow: scroll;
    margin-right: 7px;
    margin-top: 7px;
    border: 1px;
    border-style:solid;
}

.centered {
    text-align: center;
}

.control-panel{
    padding-bottom: 25px;
    padding-top: 25px;
}

.console{
    background-color: #263238;
    height: 350px;
    overflow: scroll;
}

.copybutton {
    float: right;
}
